body {
    background-color: #e2f2fb;
}

header, section {
    text-align: center;
}

p, ul {
    font-family: 'Crimson Text', serif;
    color: black;
    font-size: 18px;
}

ul {
    width: 300px;
    margin: 0 auto;
}

li {
    text-align: left;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

header {
    background-color: #4271a4;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 5px;
}

header h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: -5px;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

section {
    margin: 0 20px;
}

img {
    display:block;
    margin: 0 auto;
    margin-bottom: -5px;
}

hr {
    border: 5px solid #4271a4;
}

.has-link {
    font-size: 20px;
}

.has-link a:hover {
    text-decoration: none;
    color: orange;
}

.has-link a:active {
    color: red;
}
